/* SECTIONS */
/*.navbar {
    margin: 0;
    padding: 1em 2em;
    background-color: white;
    border: 3px solid grey;
  }*/
  
  section {
    margin-top: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70%; /* Adjust as needed */
  }
  
  /* You can adjust the padding to increase or decrease the distance from the edge of the screen */
  @media screen and (min-width: 768px) {
    .navbar {
      padding: 1em 5em;
    }
  }

  /* CARD */

  .card-link:hover .card-body {
    background-color: #eee;
  }


  
 
